.sales-panel-container {
  padding: 40px 15px;
}

.sales-sum-value-container h1 {
  color: var(--primary-color);
  font-size: 36px;
}

.sales-sum-value-container span {
  font-size: 16px;
}

@media (min-width: 576px) {
  .sales-panel-container {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .sales-panel-container {
    padding: 0;
  }
}
