.filter-container {
  padding: 40px 15px;
}

select {
  border: 1px solid var(--grey-125-color);
  height: 50px;
  width: 270px;
  border-radius: 4px;
  color: var(--grey-125-color);
  padding: 0px 12px;
}

@media (min-width: 576px) {
  .filter-container {
    padding: 40px 40px;
  }
}
