.App-main-container {
  padding: 10px;
}

.App-filter-container {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .App-main-container {
    padding: 40px;
  }

  .App-filter-container {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .App-main-container {
    padding: 40px 15px;
  }
}

@media (min-width: 1200px) {
  .App-main-container {
    padding: 40px 120px;
  }
}
