.App-header {
  margin-bottom: 10px;
}

.App-main-container {
  padding: 0px 10px;
}

@media (min-width: 576px) {
  .App-main-container {
    padding: 0px 40px;
  }

  .App-header {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .App-main-container {
    padding: 0px 15px;
  }
}

@media (min-width: 1200px) {
  .App-main-container {
    padding: 0px 120px;
  }
}
