:root {
  --primary-color: #334ac3;
  --secondary-color: #ffff;
  --grey-125-color: #8d8d8d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #e5e5e5;
  color: var(--grey-125-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.base-card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
